// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors


$text: #363636;//#eee;
$pink: #E8175D;
$palePink: #CC527A;
$background: #eee;//#363636;//#A8A7A7;
$sections: #857b97;

@mixin transition($props...) {
	transition: $props;
	-webkit-transition: $props; /* Safari */
}

@mixin boxSize {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.disabled, .disabled:hover {
	opacity: 0.5;
	cursor: default;
	background-color: transparent;
}


.pink {
	color: $pink;
}

.noBorder {
	border: none!important;
}

.cookieNote {
	//height: 8em;
	//max-height: 10em;
	//min-height: 5em;
	margin-left: 25%;
	width: 73.5%;
	background-color: $text;
	overflow: hidden;
	p {
		padding: 1em;
		line-height: 1.5em;
	}
	p, a, h1, h2, h3 {
		color: $background;
	}
	a {
		border-bottom: 0.125em solid $background;
	}
	a:hover {
		color: $pink;
	}
	a#closeCookieNote {
		border-top: 1em;
		background-color: $background;
		padding: 0.25em;
		color: $pink;
		border: none;
	}
	a#closeCookieNote:hover {
		background-color: $pink;
		color: $background;
	}
}
.cookieNote.closing {
	height: 0em;
}

h1.oldBrowser {
	font-size: 20px;
	font-family: 'Courier', serif;
	margin: 20px auto;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: transparent;
	border-bottom: 0.125em solid $text;
	cursor: pointer;
	color: $text;
	@include transition(color 1s, border 1s, background 1s);
	padding: 0 0.25em;
}

a:hover {
	background-color: transparent;
	color: $text;
	@include transition(color 0.5s, border 0.5s, background 0.5s);
}

html {
	overflow-x: hidden;
}

body, html {
	background-color: $background;	
	width: 100%;
	max-width: 100%;
	height: 100%;
	@include transition(background 0.2s);
}

body {
	display: none;
	height: auto;
	min-height: 100% !important;
	max-width: 1500px;
}

p, a, h1, h2, h3 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1em;
	color: $text;
}

h1, h2, h3 {
	display: inline-block;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}


p.splash {
	font-family: serif;
	font-size: 8em;
	margin: 45% auto;
	width: 4em;
	height: 8em;
	display: block;
}

header {
	@extend h3;
}

footer {
	padding-right: 1.5em;
	position: fixed;
	width: 20%;
	max-width: 300px;
	bottom: 1em;
	left: 1em;
	border-right: 0.125em solid $text;
	display: block;
	@include boxSize;
	p {
		text-align: right;
		font-size: 0.65em;
	}
}

code, pre {
	font-family: monospace;
}

.error {
	padding: 1em;

	h1 {
		color: $pink;
		font-size: 3em;
		margin-bottom: 0.5em;

		span {
			font-weight: 700;
		}
	}
	a:hover {
		background-color: $pink;
		border-bottom: 0em;
	}
}

ul {
	z-index: 10;
	overflow: hidden;
	margin: 1em 0 1em 1em;	
	width: 20%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	@include boxSize;
	border-right: 0.125em solid $text;
	max-width: 300px;

	li {
		float: left;
		clear: both;
		margin: 0;
		height: 1.5em;
		padding: 0.125em 0 0.125em 0.125em;
		display: block;
		@include boxSize;
		width: 100%;

		a {
			padding: 0.25em 1.5em 0.25em 0.25em;	
			display: block;
			text-align: right;
			@include transition(all 0.5s);
			border: none;
			color: $text;
			
		}
		a:hover {
			background-color: $text;
			@include transition(all 0.2s);
			color: $pink;
		}

		a.active, a.active:hover {
				border-left: 0.125em solid $pink;
				background-color: transparent;
				color: $pink;
			}
			
		a.active:hover {
			cursor: default;

		}

	}

	li.header {
		min-height: 2.5em;
		height: 3.25em;
		padding-right: 1.5em;
	}

}

.contents {
	z-index: 20;
	width: 73.5%;
	height: auto;
	margin: 1em 1em 1em 25%;
	@include boxSize;
	border-right: 0.125em solid $pink;
	position: relative;
	display: inline-block;
	
	p, a {
		line-height: 1.5em;
	}
	a {
		border-bottom: 0.125em solid $text;
	}
	a:hover, a:active {
		border-bottom: 0em;
		background-color: $pink;
		color: $text;
	}
}

body.timber .contents {
	.log {
		padding-bottom: 1.5em;
		margin-bottom: 2em;
		margin-right: 1em;
		max-width: 800px;
		border-bottom: 0.125em solid $text;
	}
	h2 { 
		border-bottom: 0.0625em solid $pink;
		margin-bottom: 0.5em;
	}
	p {
		margin-left: 2em;
	}
	p.date {
		font-size: 0.75em;
		margin: {
			left: 1em;
			bottom: 0.75em;
		}
	}
}

body.about .contents,
body.lab .contents, 
body.work .contents,
body.asterisk .contents  {
	h2 {
		margin-bottom: 0.5em;
		border-bottom: 0.0625em solid $pink;
	}
	p {
		margin-left: 1em;
		margin-right: 1em;

		a {
			margin-left: 1em;
		}
	}
}

body.lab {
	
	.cookieNote {
		background-color: $background;
		
		p, a, h1, h2, h3 {
			color: $text;
		}
		a {
			border-bottom: 0.125em solid $text;
		}
		a:hover {
			color: $pink;
			
		}
		a#closeCookieNote {
			background-color: $text;
			color: $background;
		}
		a#closeCookieNote:hover {
			background-color: $pink;
			color: $background;
		}
	}

	background-color: $text;
	
	footer {
		border-right: 0.125em solid $background;
	}

	ul {
		border-color: $background;
	}
	p, a, h1, h2, h3 {
		color: $background;

	}
	a {
		border: none;		
	}
	a:hover {
		background-color: $background;
		color: $pink;
		@include transition(all 0.2s);
	}

	#labList {
		width: 100%;
		height: auto;
		position: relative;
		display: inline-block;
		margin: 1em -0.75% -0.75% -0.75%;
		@include boxSize;
		padding-left: 1em;

		.labElem {
			float: left;
			margin: 0.75%;
			display: inline-block;
			width: 48.5%;
			height: 280px;
			background-color: $background;
			@include boxSize;
			position: relative;

			p {
				background-color: rgba(238, 238, 238, 0.75);
				position: absolute;
				bottom: 0.25em;
				left: 0em;
				margin: 1em;
				padding: 0.5em 0.75em;
				color: $text;
				//background-color: $text;
				border-left: 0.125em solid $pink;
				font-size: 0.75em;
				
				.title {
					margin: 0.25em 0 0.75em 0;
					font-size: 1.5em;
					font-weight: 700;
					display: block;
				}
			}
		}
		.labElem:hover {
			border-bottom: 0.5em solid $pink;
			
			p {
				background-color: rgba(238, 238, 238, 1);
			}
		}
		.labElem:active {
			background-color: $pink;
		}
	}

}

body.labView {
	overflow-x: hidden!important;

}

@media screen and (max-width: 720px) {

	.cookieNote {
		margin-left: 0;
		width: 100%;
		p {
			font-size: 0.75em;
		}
	}

	footer {
		position: relative;
		width: 100%;
		margin: 2em 1em 0.5em 0;
		max-width: 100%;
		left: 0;
	}

	ul {
		margin: 0;
		clear: both;
		width: 100%;
		height: 3em;
		padding: 0.5em 0;
		border-right: 0!important;
		position: relative;
		max-width: 100%;

		li {
			clear: none;	
			padding: 0;
			display: block;
			margin: 0;
			width: auto;
			display: inline-block;
			width: 20%;

			a {
				padding: 0.5em 0.5em 1em 0.5em;	
				// display: inline-block;
				background-image: none;
				text-align: center;

			}

			a.active, a.active:hover {
				border-left: none;
				border-top: 0.125em solid $pink;

			}

		}
		li.header {
			display: none;
		}
	}

	.contents {
		p, a {
			line-height: 1.5em;
		}
		width: 100%;
		height: auto;
		@include boxSize;
		padding: 0 0 0 1em;
		margin: 1.5em 0 0;
		border-right: 0.125em solid $pink;
		

	}
	body.lab {



		#labList {

			.labElem {
				width: 97%;
				
			}
		}
	}
	body {
		ul {
			border-bottom: 0.125em solid $text;
		}
	}

	// body.lab {
	// 	a.active, a.active:hover {
	// 		border-top: 0.125em solid $background;

	// 	}
	// }
}

@media screen and (min-width: 1320px) {
	body.lab {
		#labList {
			margin: auto -0.5% -0.5% -0.5%;
			.labElem {
				margin: 0.5%;
				width: 32.2%;
				
			}
		}
	}
}