<!DOCTYPE html>
<html>
<head>
  <title>Thisismyasterisk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script type="text/javascript" src="http://service.thisismyasterisk.org/socket.io/socket.io.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= requirejs_include_tag "boot" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
